<div class="card-wrapper">
    <div class="card-one">
        <h2 class="heading">Below is the list of Characters</h2>
        <mat-list>
            <mat-list-item *ngFor = "let character of listOfCharacters$ | async">
                <span *ngIf="character.house" >
                    <button 
                        mat-button 
                        (click)="showTheDetailsOfCharacter(character)">{{character.name}}
                    </button> from {{character.house.slug}} 
                </span> 
                <span *ngIf="!character.house" >
                    <button 
                        mat-button 
                        (click)="showTheDetailsOfCharacter(character)">{{character.name}}
                    </button>    
                </span>
            </mat-list-item>
        </mat-list>
    </div>
    
    <div *ngIf="showDetailsOfaCharacter" class="card">
        <h2 class="heading">Character details:</h2>
        <mat-list>
            <mat-list-item><b>Name:</b> {{personSelected.name}}</mat-list-item>
            <mat-list-item *ngIf = "personSelected.house">
                <b>House:</b> 
                <button 
                    mat-button
                    (click)="showTheDetailsOfHouse(personSelected.house)">{{personSelected.house? personSelected.house.name : ''}}
                </button>
            </mat-list-item>
            <mat-list-item *ngIf = "personSelected.quotes"> <b>Quote:</b> </mat-list-item>
            <mat-list-item *ngFor = "let quote of personSelected.quotes">  {{quote}}</mat-list-item>
        </mat-list>
        <div class="button-wrapper">
            <button 
                mat-button 
                class="button" 
                (click)="getOtherQuote()"> Get Other Quote 
            </button>

            <button
                mat-button
                class="button"
                (click)="cancelTheDetailsOfPerson()"> Cancel
            </button>
        </div>
    </div>

    <div *ngIf="showDetailsOfaHouse" class="card">
        <h2 class="heading">House details:</h2>
        <mat-list>
            <mat-list-item>{{houseSelected.name}} has</mat-list-item>
            <mat-list-item 
                *ngFor = "let member of houseSelected.members">
                {{member.name}}
            </mat-list-item>
        </mat-list>
        <div class="button-wrapper">
            <button
                mat-button
                class="button"
                (click)="cancelTheDetailsOfHouse()"> Cancel
            </button>
        </div>
    </div>
</div>