<div class="card-wrapper" >
    <div class="card">
        <h2 class="heading">Below is the list of Houses</h2>
        <mat-list>
            <mat-list-item *ngFor = "let house of listOfHouses$ | async">
                <span>
                    <button 
                        mat-button 
                        (click)="showTheDetailsOfHouse(house)">{{house.name}}
                    </button>
                </span> 
            </mat-list-item>
        </mat-list>
    </div>

    <div class="card" *ngIf="showDetailsOfaHouse">
        <h2 class="heading">House details:</h2>
        <mat-list>
            <mat-list-item>{{houseSelected.name}} has</mat-list-item>
            <mat-list-item 
                *ngFor = "let member of houseSelected.members">
                <button 
                    mat-button
                    (click)="showTheDetailsOfCharacter(member)">{{member.name}}</button> 
            </mat-list-item>
        </mat-list>
        <div class="button-wrapper">
            <button
                mat-button
                class="button"
                (click)="cancelTheDetailsOfHouse()"> Cancel
            </button>
        </div>
    </div>
    <div class="card" *ngIf="showDetailsOfaCharacter">
        <h2 class="heading">Character details:</h2>
        <mat-list>
            <mat-list-item><b>Name:</b> {{personSelected.name}}</mat-list-item>
            <mat-list-item *ngIf = "personSelected.house"><b>House:</b> {{personSelected.house? personSelected.house.name : ''}}</mat-list-item>
            <mat-list-item *ngIf = "personSelected.quotes"> <b>Quotes:</b> </mat-list-item>
            <mat-list-item *ngFor = "let quote of personSelected.quotes">  {{quote}}</mat-list-item>      
        </mat-list>  
        <div class="button-wrapper">
            <button
                mat-button
                class="button"
                (click)="cancelTheDetailsOfCharacter()"> Cancel
            </button>
        </div>  
    </div>
    
</div>
