.card {
    display: flex;
    gap: 1rem;
}

mat-card {
    background-color: #678186;
    border: 0.25px solid #080808;
    height: 50%; 
}

.card-one{
    width: 25%;
    overflow-y: auto;
}

.button {
    background-color: #88a7ad; 
    color: black 
  }