<body class="body">
  <h1 class="header">{{title}}</h1>
  <div class="items">
    <div><a 
      class="navigation-button"
      routerLink="/houses-list" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">Houses</a>
    </div>
    <div><a 
      class="navigation-button"
      routerLink="/persons-list" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">Persons</a></div>
    <div><a 
      class="navigation-button"
      routerLink="/quotes-list" 
      routerLinkActive="active" 
      ariaCurrentWhenActive="page">Quotes</a>
  </div>    
</div>
  <router-outlet></router-outlet>
</body>