/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
        margin: auto; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: #607b81; /* Set your desired background color */
   }
